<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingsatuo.thieves">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.lingsatuo.Top"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lingsatuo.lingapplication.BuglyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            />
        <activity android:name=".PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            />
        <activity android:name=".PlaylistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            />
        <activity android:name=".SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            />
        <activity android:name=".SingerInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            />
        <service android:name="com.lingsatuo.service.MusicService"
            />
        <activity android:name="com.lingsatuo.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            />
        <activity android:name=".AboutActivity"
            android:exported="true"
            android:label="@string/app_name"
            />
        <activity android:name=".LocalActivity"
            android:exported="true"
            android:label="@string/app_name"
            />
        <receiver android:name="com.lingsatuo.receiver.NotifictionReceiver">
            <intent-filter>
                <action android:name="musicone_pause_play"/>
                <action android:name="musicone_close"/>
                <action android:name="musicone_next"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>